# Google App Engine generated folder
appengine-generated/

# secret files
.env*
*secrets*
*.key
*.pem
*.crt

# Temporary files
*.tmp
*.temp
*.bak
.DS_Store
todo.txt

# log file
*.log
logs.txt

# Build artifacts
dist/
build/
bin/
tmp/
*.o
*.obj
*.exe
*.out
*.so
*.dll
*.lib
*.a

# python
__pycache__/
venv

# Node
node_modules

# Golang
.go-cont

# IDE
.vscode
*.swp

# Data
./server/assets/
